In [2]:
from espn_api.football import League
import pandas as pd
# Init
league = League(league_id=829963546, year=2022)

## Lets get the draft picks from each team

In [3]:
df = pd.DataFrame()

teams = []
players = []
id = []
round_num = []
round_pick = []


for pick in league.draft:
    teams.append(pick.team.team_name)
    players.append(pick.playerName)
    round_num.append(pick.round_num)
    round_pick.append(pick.round_pick)
    id.append(pick.playerId)
    
df['Team'] = teams
df['Drafted'] = players
df['ID'] = id
df['RoundPick'] = round_pick
df['RoundNum'] = round_num
df.to_csv('Data/team_players.csv')
df.head(10)

,Team,Drafted,ID,RoundPick,RoundNum
0,P-Town CASH KEVIN,Jonathan Taylor,4242335,1,1
1,Diggy Wit it,Christian McCaffrey,3117251,2,1
2,My Team A Bust,Austin Ekeler,3068267,3,1
3,Eugene Tweakers,Cooper Kupp,2977187,4,1
4,Couv Reigning Champ,Dalvin Cook,3116593,5,1
5,Gorilla Guys,Derrick Henry,3043078,6,1
6,I dont know what im doing,Leonard Fournette,3115364,7,1
7,Cougar Town Zach Wilson,Deebo Samuel,3126486,8,1
8,No Nyugen Will Win,Najee Harris,4241457,9,1
9,Just-in-N-out Drive thru,Justin Jefferson,4262921,10,1

# Get projected points

In [14]:
players = []
expected = []
actual = []
rank = []
nfl_team = []
for team in league.teams:
    for player in team.roster:
        players.append(player.name)
        expected.append(player.projected_total_points)
        actual.append(player.total_points)
        rank.append(player.posRank)
        nfl_team.append(player.proTeam)

points_df = pd.DataFrame()
points_df['Player'] = players
points_df['Expected_Points'] = expected
points_df['Actual_Points'] = actual
points_df['Rank'] = rank
points_df['Team'] = nfl_team

In [15]:
points_df['Difference'] = points_df['Actual_Points'] - points_df['Expected_Points']

In [20]:
points_df['Team'].unique()

array(['DAL', 'LAC', 'IND', 'SF', 'DET', 'KC', 'ARI', 'TB', 'OAK', 'GB',
       'PIT', 'CIN', 'BUF', 'HOU', 'ATL', 'DEN', 'LAR', 'CAR', 'CHI',
       'TEN', 'MIA', 'NO', 'BAL', 'MIN', 'NE', 'NYJ', 'CLE', 'SEA', 'NYG',
       'WSH', 'PHI', 'JAX', 'None'], dtype=object)

In [40]:
points_df = points_df.sort_values('Difference', ascending = False)
points_df.to_csv('Data/player_differences.csv')

In [36]:
points_df.groupby('Team').mean().sort_values('Difference', ascending=False).to_csv('Data/grouped_average_differences.csv')
points_df.groupby('Team').mean().sort_values('Difference', ascending=False)

      Expected_Points  Actual_Points       Rank  Difference
Team
None         0.000000       0.000000   0.000000    0.000000
MIA        183.270000     155.300000  12.200000  -27.970000
SEA        158.145000     123.910000  11.666667  -34.235000
CLE        167.328000     125.600000  21.800000  -41.728000
NE         152.470000     109.940000  18.600000  -42.530000
NYJ        140.745000      98.000000  19.833333  -42.745000
WSH        153.216000     108.320000  25.000000  -44.896000
BAL        142.157143      97.197143  23.000000  -44.960000
HOU        154.373333     105.133333  31.333333  -49.240000
PHI        198.058333     144.346667  10.500000  -53.711667
DET        147.248000      92.300000  24.000000  -54.948000
CAR        151.370000      95.800000  32.500000  -55.570000
JAX        177.263333     121.600000  12.333333  -55.663333
ATL        165.052000     106.564000  23.000000  -58.488000
OAK        197.732500     136.250000  13.000000  -61.482500
NYG        240.085000     178.240000   9.500000  -61.845000
KC         180.154286     112.771429  40.285714  -67.382857
NO         185.723333     114.866667  17.333333  -70.856667
BUF        199.432500     128.537500  17.625000  -70.895000
GB         179.988571     108.411429  21.428571  -71.577143
CIN        209.531429     135.274286  14.571429  -74.257143
CHI        188.863333     114.186667  25.333333  -74.676667
MIN        226.622500     150.405000  12.750000  -76.217500
SF         172.622500      95.737500  26.125000  -76.885000
LAR        154.801429      77.800000  44.142857  -77.001429
DEN        161.273333      81.666667  32.166667  -79.606667
DAL        194.710000     110.540000  18.571429  -84.170000
TEN        222.455000     135.280000  32.000000  -87.175000
PIT        193.717500     105.690000  31.750000  -88.027500
TB         201.281667     112.650000  20.166667  -88.631667
IND        217.450000     119.900000  26.666667  -97.550000
ARI        209.384000     109.104000  31.000000 -100.280000
LAC        223.398333     120.633333  40.333333 -102.765000

# Export the CSV

In [10]:
points_df.to_csv('Data/player_points.csv')
points_df.head(10)

                  Player  Expected_Points  Actual_Points  Rank  Difference
0      Leonard Fournette           258.74          154.7     9     -104.04
1          Davante Adams           253.59          216.4     5      -37.19
2             Mike Evans           223.32          134.1    12      -89.22
3          Brandin Cooks           215.10           91.6    50     -123.50
4       Devin Singletary           188.72          119.8    24      -68.92
5           Amari Cooper           198.97          159.8    14      -39.17
6  Cordarrelle Patterson           167.88           92.0    36      -75.88
7           Allen Lazard           172.56          120.9    21      -51.66
8             Joe Burrow           294.45          226.2     5      -68.25
9         Gerald Everett           127.63           82.4     9      -45.23