In [25]:
from espn_api.football import League
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
# Init

#fan's - 42936131
#mine - 829963546
league_id = 42936131
year = 2022
league = League(league_id=league_id, year=year)

In [26]:
lineups = []
teams = []
projected = []
for i in range(1, 16):
    box_scores = league.box_scores(i)
    for j in range(len(box_scores)):
        lineups.append(box_scores[j].home_lineup)
        teams.append(box_scores[j].home_team)
        projected.append(box_scores[j].home_projected)
        lineups.append(box_scores[j].away_lineup)
        teams.append(box_scores[j].away_team)
        projected.append(box_scores[j].away_projected)

In [27]:
all_teams = pd.read_csv('Data/current_players.csv')

In [28]:
all_players = pd.DataFrame()

names = []
project = []
actual = []
ranks = []
position = []
# week = []
for i in range(16):
    league.current_week = i

    for players in lineups:
        # week.append(i)
        for player in players:
            names.append(player.name)
            project.append(player.projected_points)
            actual.append(player.points)
            ranks.append(player.pro_pos_rank)
            position.append(player.position)
        
        
all_players['Player'] = names
all_players['Projected_Points'] = project
all_players['Actual_Points'] = actual
all_players['Rank'] = ranks
all_players['Position'] = position
# all_players['Week'] = week
all_players[all_players['Player'] == 'Derrick Henry']

              Player  Projected_Points  Actual_Points  Rank Position
147    Derrick Henry             17.97           8.20    17       RB
309    Derrick Henry             17.03           8.50    12       RB
521    Derrick Henry             17.43          25.30    29       RB
767    Derrick Henry             16.36          23.70    28       RB
963    Derrick Henry             18.12          27.20     5       RB
...              ...               ...            ...   ...      ...
46652  Derrick Henry             17.52          25.36    22       RB
46853  Derrick Henry             17.60          14.70    10       RB
47071  Derrick Henry             17.04           5.80    16       RB
47254  Derrick Henry             17.80          20.50    24       RB
47385  Derrick Henry             19.67          26.30    27       RB

[240 rows x 5 columns]

In [29]:
all_teams[all_teams['Player'] == 'Derrick Henry']

,Unnamed: 0,Team,Player,Week,Rank,Expected_Points,Actual_Points,Difference
81,81,Devon Allen’s Hurdle crew,Derrick Henry,1,4,264.47,270.36,5.89
277,277,Devon Allen’s Hurdle crew,Derrick Henry,2,4,264.47,270.36,5.89
473,473,Devon Allen’s Hurdle crew,Derrick Henry,3,4,264.47,270.36,5.89
669,669,Devon Allen’s Hurdle crew,Derrick Henry,4,4,264.47,270.36,5.89
866,866,Devon Allen’s Hurdle crew,Derrick Henry,5,4,264.47,270.36,5.89
1062,1062,Devon Allen’s Hurdle crew,Derrick Henry,6,4,264.47,270.36,5.89
1260,1260,Devon Allen’s Hurdle crew,Derrick Henry,7,4,264.47,270.36,5.89
1459,1459,Devon Allen’s Hurdle crew,Derrick Henry,8,4,264.47,270.36,5.89
1659,1659,Devon Allen’s Hurdle crew,Derrick Henry,9,4,264.47,270.36,5.89
1859,1859,Devon Allen’s Hurdle crew,Derrick Henry,10,4,264.47,270.36,5.89
2060,2060,Devon Allen’s Hurdle crew,Derrick Henry,11,4,264.47,270.36,5.89
2261,2261,Devon Allen’s Hurdle crew,Derrick Henry,12,4,264.47,270.36,5.89

In [30]:
total_df = pd.DataFrame()
for player in all_players['Player'].unique():
    df = all_players[all_players['Player'] == player]
    df.insert(0, 'Week', range(1, 1 + len(all_players[all_players['Player'] == player])))
    total_df = pd.concat([total_df, df])
total_df.head(100)

       Week            Player  Projected_Points  Actual_Points  Rank Position
0         1  Justin Jefferson             17.87          39.40     5       WR
244       2  Justin Jefferson             19.73          10.80     6       WR
456       3  Justin Jefferson             20.12           4.40    30       WR
651       4  Justin Jefferson             17.93          31.00    13       WR
831       5  Justin Jefferson             18.45          30.32    16       WR
...     ...               ...               ...            ...   ...      ...
18857    96  Justin Jefferson             19.25          16.70    18       WR
19038    97  Justin Jefferson              0.00           0.00     0       WR
19386    98  Justin Jefferson             18.41          15.80    14       WR
19569    99  Justin Jefferson             18.02          25.50    15       WR
19719   100  Justin Jefferson             19.68          35.30    22       WR

[100 rows x 6 columns]

In [31]:
merged_df = pd.merge(total_df, all_teams, on=['Week', 'Player'])
merged_df[merged_df['Team'] == 'Gorilla Guys']

Empty DataFrame
Columns: [Week, Player, Projected_Points, Actual_Points_x, Rank_x, Position, Unnamed: 0, Team, Rank_y, Expected_Points, Actual_Points_y, Difference]
Index: []

In [32]:
merged_df = merged_df.rename(columns={"Rank_x": "Rank", "Actual_Points_x": "Actual_Points", "Expected_Points": "Total_Expected", "Actual_Points_y": "Total_Actual"})
merged_df

,Week,Player,Projected_Points,Actual_Points,Rank,Position,Unnamed: 0,Team,Rank_y,Total_Expected,Total_Actual,Difference
0,1,Justin Jefferson,17.87,39.40,5,WR,65,Hot Chubb Time Machine 2,1,287.80,327.06,39.26
1,2,Justin Jefferson,19.73,10.80,6,WR,260,Hot Chubb Time Machine 2,1,287.80,327.06,39.26
2,3,Justin Jefferson,20.12,4.40,30,WR,456,Hot Chubb Time Machine 2,1,287.80,327.06,39.26
3,4,Justin Jefferson,17.93,31.00,13,WR,652,Hot Chubb Time Machine 2,1,287.80,327.06,39.26
4,5,Justin Jefferson,18.45,30.32,16,WR,849,Hot Chubb Time Machine 2,1,287.80,327.06,39.26
...,...,...,...,...,...,...,...,...,...,...,...,...
2372,11,Darius Slayton,8.63,13.60,30,WR,2123,Deshaunorable Discharge,50,15.93,115.10,99.17
2373,12,Darius Slayton,10.39,9.30,24,WR,2322,Deshaunorable Discharge,50,15.93,115.10,99.17
2374,11,Foster Moreau,8.60,4.20,15,TE,2174,Country Road Take Mahomes,30,52.51,70.80,18.29
2375,12,Taylor Heinicke,15.20,11.42,23,QB,2260,Hot Chubb Time Machine 2,30,7.93,105.72,97.79
2376,12,Juwan Johnson,7.94,0.00,8,TE,2376,Country Road Take Mahomes,9,4.28,118.60,114.32

In [33]:
merged_df = merged_df[['Team', 'Player', 'Week', 'Rank', 'Projected_Points', 'Actual_Points', 'Position', 'Total_Expected', 'Total_Actual']]
merged_df

,Team,Player,Week,Rank,Projected_Points,Actual_Points,Position,Total_Expected,Total_Actual
0,Hot Chubb Time Machine 2,Justin Jefferson,1,5,17.87,39.40,WR,287.80,327.06
1,Hot Chubb Time Machine 2,Justin Jefferson,2,6,19.73,10.80,WR,287.80,327.06
2,Hot Chubb Time Machine 2,Justin Jefferson,3,30,20.12,4.40,WR,287.80,327.06
3,Hot Chubb Time Machine 2,Justin Jefferson,4,13,17.93,31.00,WR,287.80,327.06
4,Hot Chubb Time Machine 2,Justin Jefferson,5,16,18.45,30.32,WR,287.80,327.06
...,...,...,...,...,...,...,...,...,...
2372,Deshaunorable Discharge,Darius Slayton,11,30,8.63,13.60,WR,15.93,115.10
2373,Deshaunorable Discharge,Darius Slayton,12,24,10.39,9.30,WR,15.93,115.10
2374,Country Road Take Mahomes,Foster Moreau,11,15,8.60,4.20,TE,52.51,70.80
2375,Hot Chubb Time Machine 2,Taylor Heinicke,12,23,15.20,11.42,QB,7.93,105.72
2376,Country Road Take Mahomes,Juwan Johnson,12,8,7.94,0.00,TE,4.28,118.60

In [34]:
merged_df['Point-Residuals'] = merged_df['Actual_Points'] - merged_df['Projected_Points']
merged_df

/var/folders/h4/6452mjq15618sb_49rqm1mkw0000gn/T/ipykernel_17210/98493879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Point-Residuals'] = merged_df['Actual_Points'] - merged_df['Projected_Points']

,Team,Player,Week,Rank,Projected_Points,Actual_Points,Position,Total_Expected,Total_Actual,Point-Residuals
0,Hot Chubb Time Machine 2,Justin Jefferson,1,5,17.87,39.40,WR,287.80,327.06,21.53
1,Hot Chubb Time Machine 2,Justin Jefferson,2,6,19.73,10.80,WR,287.80,327.06,-8.93
2,Hot Chubb Time Machine 2,Justin Jefferson,3,30,20.12,4.40,WR,287.80,327.06,-15.72
3,Hot Chubb Time Machine 2,Justin Jefferson,4,13,17.93,31.00,WR,287.80,327.06,13.07
4,Hot Chubb Time Machine 2,Justin Jefferson,5,16,18.45,30.32,WR,287.80,327.06,11.87
...,...,...,...,...,...,...,...,...,...,...
2372,Deshaunorable Discharge,Darius Slayton,11,30,8.63,13.60,WR,15.93,115.10,4.97
2373,Deshaunorable Discharge,Darius Slayton,12,24,10.39,9.30,WR,15.93,115.10,-1.09
2374,Country Road Take Mahomes,Foster Moreau,11,15,8.60,4.20,TE,52.51,70.80,-4.40
2375,Hot Chubb Time Machine 2,Taylor Heinicke,12,23,15.20,11.42,QB,7.93,105.72,-3.78
2376,Country Road Take Mahomes,Juwan Johnson,12,8,7.94,0.00,TE,4.28,118.60,-7.94

In [35]:
merged_df.to_csv('Data/player_projections.csv')

In [36]:
print("Done")

Done